<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

<h2>OrderBook</h2>

<table id="orderBookList">

</table>

<form action="#">
    <select id="status">
        <option>NEW</option>
        <option>OLD</option>
        <option>STOLEN</option>
        <option>TAKEN</option>
        <option>IN_LIBRARY</option>
    </select>
    <input id="readerId" placeholder="ReaderId">
    <input id="readerFirstName" placeholder="ReaderFirstName">
    <input id="readerLastName" placeholder="ReaderLastName">
    <input id="readerAge" placeholder="ReaderAge">

    <input id="bookId" placeholder="BookId">
    <input id="bookName" placeholder="BookName">
    <input id="bookCondition" placeholder="BookCondition">
    <input id="bookDescription" placeholder="bookDescription">
    <input id="note" placeholder="Note">
    <input id="startDate" placeholder="StartDate">
    <input id="endDate" placeholder="EndDate">
    <button onclick="createUser()">Create user</button>
</form>

<script>
    function deleteOrderBook(orderBookId) {
        var xhttp = new XMLHttpRequest();
        xhttp.open("DELETE", "http://localhost:8080/api/orderbook/" + orderBookId, true);
        xhttp.send();
    }

    function searchOrderBookByReader(id) {
        var xmlhttpp = new XMLHttpRequest();
        xmlhttpp.open("POST", "http://localhost:8080/api/orderbook/reader/" + id, true);
        xmlhttpp.send();
    }

    function createUser() {
        var select = document.getElementById("status");
        var status = select.options[select.selectedIndex].value;
        var readerId = document.getElementById("readerId").value;
        var readerFirstName = document.getElementById("readerFirstName").value;
        var readerLastName = document.getElementById("readerLastName").value;
        var readerAge = document.getElementById("readerAge").value;
        var bookId = document.getElementById("bookId").value;
        var bookName = document.getElementById("bookName").value;
        var bookCondition = document.getElementById("bookCondition").value;
        var bookDescription = document.getElementById("bookDescription").value;
        var note = document.getElementById("note").value;
        var startDate = document.getElementById("startDate").value;
        var endDate = document.getElementById("endDate").value;

        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "http://localhost:8080/api/orderbook");
        xmlhttp.setRequestHeader("Content-Type", "application/json");

        var orderBook = JSON.stringify({
            status: status,
            reader: {
                id: readerId,
                firstName: readerFirstName,
                lastName: readerLastName,
                age: readerAge
            },
            book: {
                id: bookId,
                name: bookName,
                bookCondition: bookCondition,
                description: bookDescription
            },
            note: note,
            startDate: startDate,
            endDate: endDate
        });
        xmlhttp.send(orderBook);

        loadOrderBook();
    }

    function loadOrderBook() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var orderBooks = JSON.parse(this.responseText);
                var html = '<tr>\n' +
                    '        <th>Full name</th>\n' +
                    '        <th>Age</th>\n' +
                    '        <th>Book name</th>\n' +
                    '        <th>Description</th>\n' +
                    '        <th>Book condition</th>\n' +
                    '        <th>Note</th>\n' +
                    '        <th>Start date</th>\n' +
                    '        <th>Start date</th>\n' +
                    '        <th>Search</th>\n' +
                    '        <th>Delete</th>\n' +
                    '    </tr>';

                for (var i = 0; i < orderBooks.length; i++) {
                    var orderBook = orderBooks[i];
                    var reader = orderBook.reader;
                    var book = orderBook.book;

                    html = html + '<tr><td>' + reader.firstName + ' ' + reader.lastName + '</td>\n' +
                        '        <td>' + reader.age + '</td>\n' +
                        '        <td>' + book.name + '</td>\n' +
                        '        <td>' + book.description + '</td>' +
                        '        <td>' + book.bookCondition + '</td>' +
                        '        <td>' + orderBook.note + '</td>' +
                        '        <td>' + orderBook.startDate + '</td>' +
                        '        <td>' + orderBook.endDate + '</td>' +
                        '        <td><button onclick="searchOrderBookByReader(' + reader.id + ')">Search</button></td></tr>' +
                        '        <td><button onclick="deleteOrderBook(' + orderBook.id + ')">Delete</button></td></tr>';
                }
                document.getElementById("orderBookList").innerHTML = html;
            }
        };
        xhttp.open("GET", "http://localhost:8080/api/orderbook", true);
        xhttp.send();
    }

    loadOrderBook();
</script>
</body>
</html>
