<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<tr th:each="orderBook : ${orderBookList}">
    <!--<td th:text="${books.id}">1</td>-->
    <!--<td><a href="#" th:text="${books.name}">Title ...</a></td>-->
    <td th:text="${orderBook.id}">...</td>
    <td th:text="${orderBook.status}">...</td>
    <td th:text="${orderBook.reader}">...</td>
    <td th:text="${orderBook.book}">...</td>
    <td th:text="${orderBook.note}">...</td>
    <td th:text="${orderBook.startDate}">...</td>
    <td th:text="${orderBook.endDate}">...</td>
    <br/>
</body>
</html>