<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
</head>
<script type="text/javascript" src="../js/registration.js"></script>
<body ng-app="registrationApp" ng-controller="registrationCtrl">

<div class="row">
    <form style="max-width: 600px; width: 400px; margin: 0 auto;">
        <div class="border border-secondary p-3 rounded">
            <p>Registration</p>
            <p>
                <label>Username</label>
                <input type="text" name="username" class="form-control" placeholder="Username" ng-model="editFields.userName" required autofocus/>
            </p>
            <p>
                <label>Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password" ng-model="editFields.password" required />
            </p>
            <p>
                <label>Confirm password</label>
                <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm password" ng-model="editFields.confirmPassword" required />
            </p>
            <p>
                <label>First name</label>
                <input type="text" name="username" class="form-control" placeholder="First name" ng-model="editFields.firstName" required />
            </p>
            <p>
                <label>Last name</label>
                <input type="text" name="username" class="form-control" placeholder="Last name" ng-model="editFields.lastName" required />
            </p>
            <p>
                <label>Email</label>
                <input type="email" name="email" class="form-control" placeholder="E-mail" ng-model="editFields.email" required />
            </p>
            <p>
                <label>Age</label>
                <input type="text" name="age" class="form-control" placeholder="Age" ng-model="editFields.age" required/>
            </p>
            <p>
                <input type="submit" value="Registration" class="btn btn-primary" ng-click="saveUser()"/>
            </p>
        </div>
    </form>
</div>
</body>
</html>
