<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>successfulPage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
</head>
<script type="text/javascript" src="../js/successfulPage.js"></script>
<body ng-app="successfulPageApp" ng-controller="successfulPageCtrl">

<div class="row">
    <img ng-src="{{imageUrl}}">
</div>
</body>
</html>
